@media screen and (min-width: 300px) and (max-width: 1000px) {

    /* 
        The following styles are for the counties page on mobile devices.
    */
    .sideBar {
        width: 100%;
    }

    .sidebarImage {
        width: 60%;
        margin: auto;
        display: block;
    }

    .locationImg {
        width: 50%;
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {

    /* 
        The following styles are for the counties page on desktop devices.
    */
    .sideBar {
        float: right;
        width: 25%;
    }

    .sidebarImage {
        max-height: 20vh;
        aspect-ratio: 6 / 4;
    }

    .locationImg {
        width: 100%;
        margin: auto;
    }
}