@media (max-width: 767.98px) {
  .homeHeader {
    text-align: center;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .instanceCardImage {
    width: 75%;
    margin: auto;
  }
}