* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --secondary: lightseagreen;
  --light: #eee;
  --dark: #333;
  --nav: #1a2a37;
  --semi-dark: #DDD;
  --body: #f7fbff;
  --navHover: #375771;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--body) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textSecondary {
  color: var(--secondary);
}

.image {
  width: 75%;
}

.memberCard, .techStackCard, .modelCard {
  height: 100%;
}

.aboutImage {
  aspect-ratio: 1;
  height: auto;
}

.App, .app {
  padding-bottom: 1vh;
}

.filterInput {
  margin-bottom: 1vh;
}