nav {
    width: 100vw;
    padding: 0;
    margin: 0;
    /* height: 7.5vh; */
    background-color: var(--nav);
    display: flex;
    color: var(--light) !important;
    margin-bottom: 1vh;
}

nav a {
    color: var(--light) !important;
}

nav a:hover:not(:last-child) {
    background-color: var(--navHover);
}

.navbar-toggler-icon {
    filter: invert();
}

.navContainer {
    padding: 0;
}

/* XXS */
@media (max-width: 375px) {
    .brand-text {
        font-size: 1rem !important;
    }
}

@media (max-width: 1199.98px) {
    .navList {
        padding-left: 2em;
    }
}