.oncologistWrapper section {
  margin-bottom: 5em;
}

.mapWrapper {
  margin: auto;
  /* height: 55%; */
  height: 50%;
}

.locationWrapper * {
  font-weight: 400 !important;
}

.locationWrapper h2 {
  font-style: italic;
  text-decoration: none !important;
}

.oncologistImage {
  width: 25%;
}

.oncologistLocation {
  width: 100%;
  display: block;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .oncologistLocation {
    width: 100%;
    margin: auto;
  }
}

.reviewCardsWrapper {
  max-height: 100vh;
  overflow-y: scroll;
  padding: 0.5vw;
}

.locationWrapperOncologist {
  flex-grow: 1;
}

.reviewWrapperOncologist {
  flex-grow: 5;
}