.header {
    text-decoration: underline;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .sideBar {
        width: 100%;
        margin: 0;
    }

    .sidebarImage {
        width: 60%;
        margin: auto;
        display: block;
    }

    .header {
        text-align: center;
    }

    .oncologistCard, .countyCard {
        width: 100%;
        margin: auto;
    }

    p {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .sideBar {
        float: right;
        width: 50%;
        margin: 1em;
    }
}

@media screen and (min-width: 1000px) {
    .sideBar {
        float: right;
        width: 30%;
        margin: 2em;
    }

    .header {
        text-align: left;
    }

    .oncologistCard, .countyCard {
        width: 95%;
    }
}

.sideBar {
    background-color: var(--semi-dark);
}

.oncologistImage, .countyImage {
    width: 50%;
    margin: auto;
    height: auto;
    aspect-ratio: 1;
}

.innerInstanceCardImage {
    height: 20vh;
    object-fit: contain;
    margin: auto;
}

iframe {
    aspect-ratio: 6 / 4;
    margin: auto;
}

.sidebarImage {
    max-height: 20vh;
    aspect-ratio: 6 / 4;
}