.reviewCardWrapper {
  border: none;
  background-color: #E5E5FF;
  margin-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .6em;
  padding-bottom: .6em;
}

.reviewCardText {
  font-size: 1.25rem;
}